.welcomeLabel {

    -fx-text-fill: #666666;
    -fx-font-size: 20px;
}

.chat-messenger-label {

    -fx-text-fill: #2F1A5B;
    -fx-font-family: "Times New Roman";
    -fx-font-size: 36px;
}

.chat-messenger-label-invert {

    -fx-text-fill: #E4FAF9;
    -fx-font-family: "Times New Roman";
    -fx-font-size: 36px;
}

.leftVbox {

    -fx-background-color: #FFFFFF;
}

.rightVbox {

    -fx-background-color: #2F1A5B;
}

.login-button {

    -fx-border-radius: 5;
    -fx-border-width: 1;
    -fx-text-fill: #EEF6F7;
    -fx-border-style: solid;
    -fx-border-color: #E82C23;
    -fx-background-color: #2F1A5B;
}

.login-button:hover {

    -fx-border-color: #0C735B;
    -fx-background-color: #0C735B;

}

.registerLabel {

    -fx-text-fill: #C17C77;
    -fx-font-size: 15px;
}

.registerLabel:hover {

    -fx-text-fill: #ff00ff;
}

.username {

    -fx-background-image:url('../image/username.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: right center;
    -fx-background-size: 8%;
    -fx-font-family: "Vertica";
    -fx-font-size: 14px;
}

.password {

    -fx-background-image:url('../image/password.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: right center;
    -fx-background-size: 8%;
    -fx-font-family: "Vertica";
    -fx-font-size: 14px;
}

.erroLable {
    
    -fx-text-fill: #F1F1F1;
    -fx-font-size: 16px;
}